:host /deep/ * {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
:host {
  display: block;
  overflow: hidden;
  color: #757575;
  background: #eeeeee;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** Horizontal ******************/
:host {
  width: 520px;
  height: 240px;
}
#heading { 
  width: 270px;
  height: 240px;
}
#clock {
  margin: 12px 22px;
}

/** Narrow *********************/
:host([narrow]) {
  width: 270px;
  height: 366px;
}
:host([narrow]) #heading {
  height: 96px;
}
:host([narrow]) #clock {
  margin: 10px 18px;
}

/** Heading ********************/
#heading {
  color: #8acfc8;
  background: #009688;
}
#heading .time {
  font-size: 0;
  width: 172px;
  text-align: right;
}
#heading .time .core-selected {
  color: #fff; 
  font-weight: normal;
}
#heading .time .period,
#heading .time .core-selected.period {
  font-size: 20px;
  font-weight: 500;
}
#heading .time div {
  font-size: 50px;
  display: inline-block;
  padding: 2px;
}
#heading .time div:hover {
  cursor: pointer;
}

/** Clock *********************/
#clock {
  position: relative;
}
svg.clock {
  display: block;
  margin: 0 auto;
  overflow: visible;
  width: 100%;
  height: 100%;
}
svg.clock .face {
  fill: #dfdfdf;
}
svg.clock .number {
  fill: rgba(0,0,0,0);
}
svg.clock .lineA {
  stroke: #b9d9d6; 
}
svg.clock .pointer-large {
  fill: #b9d9d6;
}
svg.clock .lineB {
  stroke: #009688;
}
svg.clock .pointer-small {
  fill: #009688;
}
svg.clock .pointer.visible .lineB,
svg.clock .pointer.visible .pointer-small {
  fill: none;
  stroke: none;
}
svg.clock .dot,
svg.clock .number text {
  fill: #757575;
}
svg.clock .number text {
  pointer-events: none;
  font-size: 18px;
  dominant-baseline: middle;
  text-align: center;
  text-anchor: middle;
}
svg.clock .select-area {
  fill-opacity: 0;
}
svg.clock .select-area:hover {
  cursor: pointer;
}

/** Clock transition ***********/
section {
  z-index: 0;
}
svg.clock .numbers {
  transition: transform 500ms, opacity 500ms;
  transform: scale(1.2);
  transform-origin: 50% 50%;
  opacity: 0;
}
svg.clock .face {
  transition: opacity 500ms step-end;
  opacity: 0;
}
section.core-selected {
  z-index: 1000;
}
section.core-selected svg.clock .face {
  opacity: 1;
}
section.core-selected svg.clock .numbers {
  transform: scale(1);
  opacity: 1;
}
/** Period chooser *************/
#choosePeriod .period circle {
  fill-opacity: 0;
}
#choosePeriod .period circle:hover {
  cursor: pointer;
}
#choosePeriod .period text {
  pointer-events: none;
  fill: #757575;
  font-size: 14px;
  dominant-baseline: middle;
  text-align: center;
  text-anchor: middle;
}

#choosePeriod .period[active] circle {
  fill: #b9d9d6;
  fill-opacity: 1;
}

#test {
  background: red;
  width: 100px;
  height: 100px;
}
