:host /deep/ * {
  --webkit-tap-highlight-color: rgba(0,0,0,0);
}
:host {
  display: block;
  @apply(--paper-font-body1);
  background: var(--default-background-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  font-size: 14px;
}

#timePicker {
  height: 100%;
  @apply(--layout-horizontal);
}
:host([narrow]) #timePicker {
  @apply(--layout-vertical);
}

/** Horizontal ******************/
:host {
  width: 520px;
  height: 240px;
}
#heading {
  width: 270px;
  height: 240px;
  @apply(--layout-horizontal);
  @apply(--layout-center);
  @apply(--layout-end-justified);
}
#clockArea {
  margin: 12px 22px;
  @apply(--layout-vertical);
  @apply(--layout-flex);
}

/** Narrow *********************/
:host([narrow]) {
  width: 270px;
  height: 346px;
}
:host([narrow]) #heading {
  height: 96px;
}
:host([narrow]) #clock {
  margin: 10px 18px;
}

/** Heading ********************/
#heading {
  color: var(--light-primary-color);
  background: var(--default-primary-color);
}
#heading .iron-selected {
  color: var(--text-primary-color);
}
#heading iron-selector:hover {
  cursor: pointer;
}

#heading .time span {
  @apply(--paper-font-display3);
}

/** Period selector *************/
#periodSelector {
  margin-left: 16px;
  margin-right: 32px;
  @apply(--layout-vertical);
  @apply(--layout-justified);
}
#periodSelector .period {
  line-height: 25px;
}

/** Clock *********************/
#clockArea {
  position: relative;
}
#selectors {
  pointer-events: none;
}
#selectors,
#selectors > section,
#selectors > section > * {
  @apply(--layout-fit);
}

#selectors section.iron-selected {
  z-index: 1000;
}
#selectors section {
  z-index: 0;
}


/** Clock transition ***********/
#selectors .iron-selected /deep/ #clock .face {
  opacity: 1;
}
#selectors .iron-selected /deep/ #clock #numbers {
  transform: scale(1);
  opacity: 1;
}
#selectors /deep/ #clock .face {
  transition: opacity 500ms;
  opacity: 0;
}
#selectors /deep/ #clock #numbers {
  transition: transform 500ms, opacity 500ms;
  transform: scale(1.2);
  transform-origin: 50% 50%;
  opacity: 0;
}
